<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<head>
	<title>Gulde final</title>
	<style type="text/css">
		body{

			background-image: url("img/kid.jpg");
			background-size: cover;
		}


	</style>
	</style>
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
<audio autoplay>
	<source src="music/xmen.mp3" type="audio/mp3">
</audio>
<div class="w3-bar w3-black">
  <a href="views/app.html" class="w3-bar-item w3-button">Home</a>
  <a href="views/app1.html" class="w3-bar-item w3-button">X-MEN</a>
  <a href="views/app2.html" class="w3-bar-item w3-button">X-MEN 2</a>
  <a href="views/app3.html" class="w3-bar-item w3-button">X-MEN THE LAST STAND</a>
  <a href="views/app4.html" class="w3-bar-item w3-button">X-MEN FIRST CLASS</a>
  <a href="views/app5.html" class="w3-bar-item w3-button">X-MEN APOCALYPSE</a>
</div>
<div id ="app2"></div>
<script type="text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src ="app.js"></script>
</body>
</html>